<div class="signin__form">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title > Login</mat-card-title>
      <mat-card-subtitle>Use your company account credentials to login to hour evidence system</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="submitForm(signinForm)" class="login__form">
    <mat-form-field class="signin__form-field">
      <input matInput formControlName="email" placeholder="Email" />
    </mat-form-field>
    <mat-form-field class="signin__form-field">
      <input matInput formControlName="password" type="password" placeholder="Password" />
    </mat-form-field>
    <div class="btn__row">
      <button mat-raised-button type="submit" class="btn">
        Log In
      </button>
    </div>
  </form>
  </mat-card-content>
</mat-card>
</div>
