<mat-toolbar color="primary">
  <span><a routerLink="/summary" class="home-link">Timesheet</a></span>
  <span class="spacer"></span>

  <button mat-button *ngIf="authService.isAuthenticated()" routerLink="/home">Calendar</button>

  <button mat-button [matMenuTriggerFor]="adminMenu" *ngIf="authService.isAuthenticated() && authService.isAdmin()">Admin Menu</button>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item routerLink="/accounts">Accounts</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="managerMenu" *ngIf="authService.isAuthenticated() && authService.isManager() && !authService.isAdmin()">Manager Menu</button>
  <mat-menu #managerMenu="matMenu">
    <button mat-menu-item routerLink="/accounts">Accounts</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
  </mat-menu>

  <button mat-button routerLink="/logout" *ngIf="authService.isAuthenticated()">Logout</button>
</mat-toolbar>
<ng-content></ng-content>
