<mat-toolbar color="primary">
  <span>Timesheet</span>
  <span class="spacer"></span>
  <!-- <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button> -->
  <!-- <mat-menu #menu="matMenu"> -->
    <!-- <div *ngIf="!(readLocalStorageValue('token') && readLocalStorageValue('userId')) else Logout">
      <a [routerLink]="['login']" style="color: white; !important">
        <button mat-button>Login</button>
      </a>
    </div> -->
    <!-- <ng-template #Logout>
      <a style="color: white; !important">
        <button mat-button>Logout</button></a>
    </ng-template> -->

  <!-- </mat-menu> -->
</mat-toolbar>
<ng-content></ng-content>
